body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f0eff4;
    margin: 0;
    padding: 0;
}
.categories {
    background-color: #1d3557;
    height: 60vh;
    width: 100%;
}

.tb-categories {
    color: #f0eff4;
}
.row {
    margin: 0 0 !important;
  }
  
  .course_card {
    margin: 25px 10px;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #457b9d;
    color: #f0eff4;
    background-opacity: 0.4;    
    background-clip: border-box;
    transition: 0.25s ease-in-out;
  }
  .course_card_img {
    max-height: 100%;
    max-width: 100%;
  }
  .course_card_img img {
    height: 250px;
    width: 100%;
    transition: 0.25s all;
  }
  .course_card_img img:hover {
    transform: translateY(-3%);
  }
  .course_card_content {
    padding: 16px;
  }
  .course_card_content h3 {
    font-family: 18px;
  }
  .course_card_content p {
    text-align: justify;
  }
  .course_card_footer {
    padding: 10px 0px;
    margin: 5px;
  }
  .course_card_footer a {
    margin: 0 5px 0 0;
    color: #f0eff4;
    padding: 10px;
    font-size: 14px;
  }
  .course_card:hover {
    transform: scale(1.025);
    border-radius: 0.375rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  }
  .course_card:hover .course_card_img img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }


.detail {
    height: 267px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.detail-content {
    text-align: center;
    color: #222222;
}
.campaign {
    height: 95vh;
}


.charity_card {
    margin: 25px 10px;
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffff;
    color: #343045;
    background-opacity: 0.4;    
    background-clip: border-box;
    transition: 0.25s ease-in-out;
  }
  .charity-card-img {
    
    max-height: 100%;
    max-width: 100%;
    overflow: hiden;
    position: relative;
    margin-bottom: 10px;
  }
  .charity-card-img img {
    height: 150px;
    width: 100%;
    transition: 0.25s all;
    
  }
  .charity-card-img  img:hover {
    transform: translateY(-3%);
  }
  .ctg {
    width: 170px;
    border-radius: 25px;
    margin: 10px;
    display:flex; 
    justify-content:center; 
    align-items:center; 
  }
  .ctg > svg{
    margin: 3px;
  }
  .charity_card_content {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .charity_card_content title {
    font-weight: bold;
  }

  .charity_card_footer {
    margin: 5px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .charity_card_footer p {
    position: ab;
    color: #343045;
    padding: 0px;
    font-size: 16px;
  }
  .charity_card_footer a {
    margin: 0 5px 0 0;
    color: #343045;
    padding: 10px;
    font-size: 14px;
  }

  .charity_card:hover {
    transform: scale(1.025);
    border-radius: 0.375rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  }
  .charity_card:hover .course_card_img img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }

  #progresscd1 {
    background: #f0eff4;
    border-radius: 13px;
    height: 10px;
    width: 350px;
    padding: 1px;
}

  #progresscd1:after {
    content: '';
    display: block;
    background: orange;
    width: 70%;
    height: 100%;
    border-radius: 9px;
}
#progresscd2 {
  background: #f0eff4;
  border-radius: 13px;
  height: 10px;
  width: 350px;
  padding: 1px;
}

#progresscd2:after {
  content: '';
  display: block;
  background: orange;
  width: 40%;
  height: 100%;
  border-radius: 9px;
}

#progresscd3 {
  background: #f0eff4;
  border-radius: 13px;
  height: 10px;
  width: 350px;
  padding: 1px;
}

#progresscd3:after {
  content: '';
  display: block;
  background: orange;
  width: 50%;
  height: 100%;
  border-radius: 9px;
}

#progresscd4 {
  background: #f0eff4;
  border-radius: 13px;
  height: 10px;
  width: 350px;
  padding: 1px;
}

#progresscd4:after {
  content: '';
  display: block;
  background: orange;
  width: 30%;
  height: 100%;
  border-radius: 9px;
}


#progresscd5 {
  background: #f0eff4;
  border-radius: 13px;
  height: 10px;
  width: 350px;
  padding: 1px;
}

#progresscd5:after {
  content: '';
  display: block;
  background: orange;
  width: 20%;
  height: 100%;
  border-radius: 9px;
}

#progresscd6 {
  background: #f0eff4;
  border-radius: 13px;
  height: 10px;
  width: 350px;
  padding: 1px;
}

#progresscd6:after {
  content: '';
  display: block;
  background: orange;
  width: 90%;
  height: 100%;
  border-radius: 9px;
}